#gfi-talents-content{
    min-height: 80vh;
    background: rgba(48, 53, 72, .2);
}

main {
    box-sizing: border-box;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 30px;
}

.tape {
    background-color: orange;
    height: 10px;
    width: 1000px;
    margin: 0 auto;
}
.test-card {
            width: 20vw;
            height: 250px;
            border: 1px black solid;
            margin-right: 20px;
            display: inline-block;
            padding: 0 x10px;
        }
.test-card-header {
    width: 14vw;
    border-bottom: 1px solid black;
    margin: 15px auto;
    padding: 10px;
}
.test-card-footer {
    margin-top: 60px;
}