
h2, h3 {

font-family: 'Istok Web', sans-serif;

}

article {

width: 20vw;

height: 300px;

border: 1px black solid;

margin: 50px;

display: inline-block;

}

.text-uppercase {

text-transform: uppercase;

}

.text-align-center {

text-align: center;

}

.bold {

font-weight: bold;

}

.text-valid {

color: green;

}

.text-invalid {

color: red;

}

main {

width: 1000px;

margin: 0 auto;

}

.offer-element {

margin: 10px auto;

}

tr:nth-child(even) {

background-color: grey;

}

table {

border-collapse: collapse;

}

td, th {

padding: 0px 10px;

}

.head-row {
    border-bottom: 3px solid orange;
}