.img-circle{
    border-radius: 50%;
}

.img-cover{
    display: block;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.img-cover-no-height{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;
}
