.vertical-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.relative{
    position:relative;
}

.absolute{
    position:absolute;
}

.fixed{
    position:fixed;
}

.text-align-center {
    text-align: center;
}
